.col-3.ml-2.mt-4.mb-3.pt-2.bg-primary.agenda
   .row.justify-content-md-between.mt-3
     .col-auto
         h2.mb-0.blue_2 My Agenda
     .col-auto.pl-0.row.justify-content-end
         .d-flex.pr-3
            a(href="#")
               img(src="img/menu1.png")
   .row
      hr.my-3(height="1")
   
   #container.w-100

   .row
      hr.my-3(height="1")
   
   

   .row.px-3.records.event-container
      .row.mb-3
         .col
            a(href="")
               h3.blue_3.mb-0 8 March
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
      .row.mb-3
         .col
            a(gref="")
               h3.blue_3.mb-0 21 March
               p.blue_4.mb-0 Lorem ipsum dolor sit amet consectetur adipis
      .row.mb-3
         .col
            a(href="")
               h3.blue_3.mb-0 8 March
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
      .row.mb-3
         .col
            a(gref="")
               h3.blue_3.mb-0 21 March
               p.blue_4.mb-0 Lorem ipsum dolor sit amet consectetur adipis
      .row.mb-3
         .col
            a(href="")
               h3.blue_3.mb-0 8 March
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
      .row.mb-3
         .col
            a(gref="")
               h3.blue_3.mb-0 21 March
               p.blue_4.mb-0 Lorem ipsum dolor sit amet consectetur adipis
      .row.mb-3
         .col
            a(href="")
               h3.blue_3.mb-0 8 March
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
      .row.mb-3
         .col
            a(gref="")
               h3.blue_3.mb-0 21 March
               p.blue_4.mb-0 Lorem ipsum dolor sit amet consectetur adipis
      .row.mb-3
         .col
            a(href="")
               h3.blue_3.mb-0 8 March
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
      .row.mb-3
         .col
            a(gref="")
               h3.blue_3.mb-0 21 March
               p.blue_4.mb-0 Lorem ipsum dolor sit amet consectetur adipis
      .row.mb-3
         .col
            a(href="")
               h3.blue_3.mb-0 8 March
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
      .row.mb-3
         .col
            a(gref="")
               h3.blue_3.mb-0 21 March
               p.blue_4.mb-0 Lorem ipsum dolor sit amet consectetur adipis
   .filter
   //- new agenda
   .row.mt-4.w-100.bg-primary.new_agenda.justify-content-center
      .col-auto
         a(href="")
            p.blue_2 + ADD NEW AGENDA