.col-3.bg-primary.ml-1.mr-4.mt-4.mb-3.pt-1.chat_list
   .row.chat-list-header.justify-content-md-between.mt-3
      .col-4.d-flex.align-self-center
         h3.blue_2.mb-0 Chat
      .col-5.d-flex.justify-content-end
         button.blue_4 NEW
   .row
      hr.my-2.py-1(height="1")
   .row.px-3.chat_1.mb-4.pb-2
      a(href="#")
         .row
            .col-2
               .img-circle(style="background-position-x: 30%; background-image: url(img/Layer-2.png)")
                  .circle 2
            .co-8.ml-4
               h3.blue_3.mb-0 Fikri Ruslandi
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
            .col-1
               .row.justify-content-end
                  .round.my-1.mb-1(style="background-color: #51dacf; box-shadow: 0px 6px 15px 1px #51dacf")
                  .w-100
                  span.gray_1.mt-1 1 min 
   .row.px-3.chat_1.mb-4.pb-2
      a(href="#")
         .row
            .col-2
               .img-circle(style="background-position: 60% 10%; background-image: url(img/Layer-6.png)")
                  .circle 3
            .co-8.ml-4
               h3.blue_3.mb-0 Fikri Ruslandi
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
            .col-1
               .row.justify-content-end
                  .round.my-1.mb-1(style="background-color: #d4e1ea; box-shadow: 0px 6px 15px 1px #d4e1ea")
                  .w-100
                  span.gray_1.mt-1 1 min 
   .row.px-3.chat_1.mb-4.pb-2
      a(href="#")
         .row
            .col-2
               .img-circle(style="background-position-x: 50%; background-image: url(img/images.png)")
                  //- .circle 2
            .co-8.ml-4
               h3.blue_4.mb-0 Fikri Ruslandi
               p.gray_1.mb-0 Ko, Kumaha Project anu eta...
            .col-1
               .row.justify-content-end
                  .round.my-1.mb-1(style="background-color: #51dacf; box-shadow: 0px 6px 15px 1px #51dacf")
                  .w-100
                  span.gray_1.mt-1 1 min 
   .row.px-3.chat_1.mb-4.pb-2
      a(href="#")
         .row
            .col-2
               .img-circle(style="background-position-x: 50%; background-image: url(img/images.png)")
                  //- .circle 2
            .co-8.ml-4
               h3.blue_4.mb-0 Fikri Ruslandi
               p.gray_1.mb-0 Ko, Kumaha Project anu eta...
            .col-1
               .row.justify-content-end
                  .round.my-1.mb-1(style="background-color: #51dacf; box-shadow: 0px 6px 15px 1px #51dacf")
                  .w-100
                  span.gray_1.mt-1 1 min 
   .row.px-3.chat_1.mb-4.pb-2
      a(href="#")
         .row
            .col-2
               .img-circle(style="background-position-x: 50%; background-image: url(img/images.png)")
                  //- .circle 2
            .co-8.ml-4
               h3.blue_4.mb-0 Fikri Ruslandi
               p.gray_1.mb-0 Ko, Kumaha Project anu eta...
            .col-1
               .row.justify-content-end
                  .round.my-1.mb-1(style="background-color: #51dacf; box-shadow: 0px 6px 15px 1px #51dacf")
                  .w-100
                  span.gray_1.mt-1 1 min 
   .row.px-3.chat_1.mb-4.pb-2
      a(href="#")
         .row
            .col-2
               .img-circle(style="background-position-x: 50%; background-image: url(img/images.png)")
                  .circle 2
            .co-8.ml-4
               h3.blue_3.mb-0 Fikri Ruslandi
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
            .col-1
               .row.justify-content-end
                  .round.my-1.mb-1(style="background-color: #51dacf; box-shadow: 0px 6px 15px 1px #51dacf")
                  .w-100
                  span.gray_1.mt-1 2 min 
   .row.px-3.chat_1.mb-4.pb-2
      a(href="#")
         .row
            .col-2
               .img-circle(style="background-position-x: 30%; background-image: url(img/Layer-2.png)")
                  .circle 2
            .co-8.ml-4
               h3.blue_3.mb-0 Fikri Ruslandi
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
            .col-1
               .row.justify-content-end
                  .round.my-1.mb-1(style="background-color: #51dacf; box-shadow: 0px 6px 15px 1px #51dacf")
                  .w-100
                  span.gray_1.mt-1 1 min
   .row.px-3.chat_1.mb-4.pb-2
      a(href="#")
         .row
            .col-2
               .img-circle(style="background-position-x: 30%; background-image: url(img/Layer-2.png)")
                  .circle 2
            .co-8.ml-4
               h3.blue_3.mb-0 Fikri Ruslandi
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
            .col-1
               .row.justify-content-end
                  .round.my-1.mb-1(style="background-color: #51dacf; box-shadow: 0px 6px 15px 1px #51dacf")
                  .w-100
                  span.gray_1.mt-1 1 min
   .row.px-3.chat_1.mb-4.pb-2
      a(href="#")
         .row
            .col-2
               .img-circle(style="background-position-x: 30%; background-image: url(img/Layer-2.png)")
                  .circle 2
            .co-8.ml-4
               h3.blue_3.mb-0 Fikri Ruslandi
               p.blue_4.mb-0 Ko, Kumaha Project anu eta...
            .col-1
               .row.justify-content-end
                  .round.my-1.mb-1(style="background-color: #51dacf; box-shadow: 0px 6px 15px 1px #51dacf")
                  .w-100
                  span.gray_1.mt-1 1 min