.col-5.ml-2.mr-4.mt-4.pt-4.mb-3.chat
   .row.justify-content-md-between
      .col-5.pl-0.pr-2
         h2.blue_5.mb-0 Abu Abdullah Nugraha
            .round.mt-1(style="background-color: #51dacf; box-shadow: 0px 6px 15px 1px #51dacf")
      .col-3.pl-0.row.justify-content-end
         .d-flex
            a(href="#")
               img(src="img/call.png")
         .d-flex.mx-4.px-2
            a(href="#")
               img(src="img/videocall.png")
         .d-flex.pr-3
            a(href="#")
               img(src="img/menu1.png")
   .row
      hr.w-100.my-3(height="1")
   .messages
      .messages2
         .row.mb-3
            .row.w-90
               .col-2.pr-4
                  .row
                     .col
                        a(href="#")
                           .img-circle(style="background-position-x: 30%; background-image: url(img/Layer-2.png)")
               .col-auto.pl-1.mw-83
                  p.blue_4.m-0.bg-primary.px-3.
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, nostrum!
                  .triangle
         .row.mb-3.justify-content-end
            .row.w-90.justify-content-end
               .col-2.order-last.pl-4
                  .row
                     .col-2
                        a(href="#")
                           .img-circle(style="background-position: 60% 10%; background-image: url(img/Layer-6.png)")
               .col-auto.order-first.pr-1.mw-83
                  p.text-primary.m-0.bg-blue.px-3.
                     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, obcaecati?
                  .triangle1
         .row.mb-3
            .row.w-90
               .col-2.pr-4
                  .row
                     .col
                        a(href="#")
                           .img-circle(style="background-position-x: 30%; background-image: url(img/Layer-2.png)")
               .col-auto.pl-1.mw-83
                  p.blue_4.m-0.bg-primary.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle
         .row.mb-3.justify-content-end
            .row.w-90.justify-content-end
               .col-2.order-last.pl-4
                  .row
                     .col-2
                        a(href="#")
                           .img-circle(style="background-position: 60% 10%; background-image: url(img/Layer-6.png)")
               .col-auto.order-first.pr-1.mw-83
                  p.text-primary.m-0.bg-blue.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle1
         .row.mb-3
            .row.w-90
               .col-2.pr-4
                  .row
                     .col
                        a(href="#")
                           .img-circle(style="background-position-x: 30%; background-image: url(img/Layer-2.png)")
               .col-auto.pl-1.mw-83
                  p.blue_4.m-0.bg-primary.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle
         .row.mb-3.justify-content-end
            .row.w-90.justify-content-end
               .col-2.order-last.pl-4
                  .row
                     .col-2
                        a(href="#")
                           .img-circle(style="background-position: 60% 10%; background-image: url(img/Layer-6.png)")
               .col-auto.order-first.pr-1.mw-83
                  p.text-primary.m-0.bg-blue.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle1
         .row.mb-3
            .row.w-90
               .col-2.pr-4
                  .row
                     .col
                        a(href="#")
                           .img-circle(style="background-position-x: 30%; background-image: url(img/Layer-2.png)")
               .col-auto.pl-1.mw-83
                  p.blue_4.m-0.bg-primary.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle
         .row.mb-3.justify-content-end
            .row.w-90.justify-content-end
               .col-2.order-last.pl-4
                  .row
                     .col-2
                        a(href="#")
                           .img-circle(style="background-position: 60% 10%; background-image: url(img/Layer-6.png)")
               .col-auto.order-first.pr-1.mw-83
                  p.text-primary.m-0.bg-blue.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle1
         .row.mb-3
            .row.w-90
               .col-2.pr-4
                  .row
                     .col
                        a(href="#")
                           .img-circle(style="background-position-x: 30%; background-image: url(img/Layer-2.png)")
               .col-auto.pl-1.mw-83
                  p.blue_4.m-0.bg-primary.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle
         .row.mb-3.justify-content-end
            .row.w-90.justify-content-end
               .col-2.order-last.pl-4
                  .row
                     .col-2
                        a(href="#")
                           .img-circle(style="background-position: 60% 10%; background-image: url(img/Layer-6.png)")
               .col-auto.order-first.pr-1.mw-83
                  p.text-primary.m-0.bg-blue.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle1
         .row.mb-3
            .row.w-90
               .col-2.pr-4
                  .row
                     .col
                        a(href="#")
                           .img-circle(style="background-position-x: 30%; background-image: url(img/Layer-2.png)")
               .col-auto.pl-1.mw-83
                  p.blue_4.m-0.bg-primary.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle
         .row.mb-3.justify-content-end
            .row.w-90.justify-content-end
               .col-2.order-last.pl-4
                  .row
                     .col-2
                        a(href="#")
                           .img-circle(style="background-position: 60% 10%; background-image: url(img/Layer-6.png)")
               .col-auto.order-first.pr-1.mw-83
                  p.text-primary.m-0.bg-blue.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle1
         .row.mb-3
            .row.w-90
               .col-2.pr-4
                  .row
                     .col
                        a(href="#")
                           .img-circle(style="background-position-x: 30%; background-image: url(img/Layer-2.png)")
               .col-auto.pl-1.mw-83
                  p.blue_4.m-0.bg-primary.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle
         .row.mb-3.justify-content-end
            .row.w-90.justify-content-end
               .col-2.order-last.pl-4
                  .row
                     .col-2
                        a(href="#")
                           .img-circle(style="background-position: 60% 10%; background-image: url(img/Layer-6.png)")
               .col-auto.order-first.pr-1.mw-83
                  p.text-primary.m-0.bg-blue.px-3.
                     Lorem ipsum dolor sit amet.
                  .triangle1
         
   //- Message block
   .row.mt-4.w-100.bg-primary.message
      .row.w-100.justify-content-between
         .col-10.d-flex.align-items-center
            input.pl-2.py-2.w-100.form-group.mb-0(placeholder="Type your message ...")
         .col-auto.row.py-2.justify-content-end
            .d-flex.align-items-center.mr-3
               a(href="#")
                  img(src="img/attach-icon.png")
            .d-flex.mx-3
               a(href="#")
                  .row
                     .img-circle

