header
	.container
		.row
			nav.navbar.w-100
				ul.navbar-nav.w-100
					.row.justify-content-md-between
						.col-1.d-flex.pl-4.py-3
							a.nav-link(href="#")
								img(src="img/menu.png")
						.col-3.d-flex.justify-content-md-end.justify-content-lg-center.align-self-center
							.col-1.align-self-center.mr-2
								a(href="#")
									img(src="img/search.png")
							.col-3.pl-3
								a(href="#")
									div.img(style="background-position-x: 50%; background-image: url(img/images.png)")
							.col-6.align-self-center.pl-2
								h4.mb-0 Riko Sapto Dimo 
								a(href="#").profil.mb-0 Available 
									i.mt-1.mr-2
						
