.col-1.bg-primary.mr-4.side
   nav.navbar-nav
      ul.navbar-nav
         li.d-flex.py-4.justify-content-center
            a(href="#")
               img(src="img/1.png")
         li.d-flex.py-4.justify-content-center
            a(href="#")
               img(src="img/11.png")
         li.d-flex.py-4.justify-content-center
            a(href="#")
               img(src="img/chart.png")
         li.d-flex.py-4.justify-content-center
            a(href="#")
               img(src="img/sttings.png")
         