$grey : #545A5C;
$lightgrey : #CBD1D2;
$blue : #3598db;
$red : #D61643;
$green : #8BBF43;

.calendar{
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    text-align: center;
    color: #8ea1b4;


    
    a{
        text-decoration: none;
        color: inherit;
    }
    
    header{
        background-color: #fff !important;
        box-shadow: none;
        .btn{
            display: inline-block;
            position: absolute;
            width: 11px;
            height: 20px;
            // border-radius: 50%;
            // border: 2px solid $lightgrey;
            background-repeat: no-repeat;
        }
        
        .btn:hover{
            
        }
        
        .btn-prev{
            background-image: url(../img/back-icon.png);
            left:0;top:0;
        } 
        
        .btn-next{
            background-image: url(../img/next-icon.png);
            right:0;top:0; 
        }
        
        .month{
            color: #34495e;
            font-weight: normal;

            padding:0;
            margin:0;
        }
    }
    
    table{
        width: 100%;
        margin: 20px 0;
        border-spacing: 0px;  
    }
    
    thead{
        font-size: 14px;
        font-weight: normal;
        color: #8ea1b4;
        text-transform: capitalize;

    }
    
    td{
        padding: .8em .1em;
    }
    
    .day{
        display: inline-block;
        width:2.5em;
        height:2.5em;
        line-height: 2.2em;
        border-radius: 50%;
        border: 2px solid transparent;
    }
    
    .day:hover{
        border: 2px solid $blue;  
    }
    
    .day.today{
        background: $blue;
        color:white;
    }

    .day.event{
        background: $blue;
        color:white;
    }

    .day.wrong-month{
        color: $lightgrey;
    }
    
    .day.wrong-month:hover{
        border: 2px solid transparent;
    }
    
    // .event-container{
    //     display: none;
    //     position:absolute;
    //     z-index: 13;
    //     top:0;left:0;
    //     width: 100%;
    //     height: 100%;
    //     border-radius: 5px;
    //     background:$grey;
    // }
    
    // .filler{
    //     position:absolute;
    //     width:0;
    //     height:0;
    //     border-radius:50%;
    //     background:$grey;
    //     transform: translate(-50%,-50%);
    // }
}
.event-container{
    display: none;
}

.filler{
    position:absolute;
    width:0;
    height:0;
    border-radius:50%;
    background:$grey;
    transform: translate(-50%,-50%);
}